<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="/css/styles.css">

  </head>

  <body>
    <div>
      <header>{{>header}}</header>
    </div>
    <div>
      <img src="/img/me.jpeg">
    </div>
    <footer>{{>footer}}</footer>
  </body>
</html>